<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin/main}">

<main layout:fragment="common">

    <h2>게시판 관리</h2>

    <form th:action="@{/admin/board/boadrList/search}" method="get">

        <select name="category">
            <option value="bNo">게시판 번호</option>
            <option value="bName">게시판 이름</option>
            <option value="bIsFile">파일 첨부 여부</option>

            <!-- Add more options as needed -->
        </select>

        <!-- Search Query -->
        <input type="text" name="query" placeholder="검색">

        <!-- Submit Button -->
        <button type="submit">검색</button>
    </form>

    <!-- 게시판 생성 버튼 -->
    <button id="createBoardButton">게시판 생성</button>

    <table class="table text-center">
        <thead>
        <tr>
            <th>게시판 번호</th>
            <th>게시판 이름</th>
            <th>게시글 개수</th>
            <th>파일 첨부 여부</th>
            <th>페이징 처리<br>[Page(하단) / Size(게시글 목록 개수)]</th>

        </tr>
        </thead>
        <!-- 게시판 내용 반복 -->
        <tr th:each="board : ${boards}">
            <td th:text="${board.bNo}"></td>
            <td th:text="${board.bName}"></td>  <!-- 게시판 선택 시 해당 게시판의 게시글 리스트 조회 -->
            <td th:text="${postCounts[board.bNo]}"></td>
            <td th:text="${board.bIsFile}"></td>
            <td th:text="${board.bPageNo + ' / ' + board.getBUnitNo}"></td>
            <!--            <td th:text="${board.bUnitNo}"></td>-->
            <!-- 게시판 생성, 수정일 고민... -->
            <!--            <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>-->
            <!--            <td th:text="${#temporals.format(post.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>-->

            <!-- 게시판 삭제 -->
            <td>
                <form th:action="@{'/admin/board/' + ${board.bNo}}" method="post"
                      onsubmit="return confirm('게시판 삭제를 진행하면 모든 내용과 게시글, 댓글이 영구적으로 사라집니다. 계속 진행하시겠습니까?')">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit">삭제</button>
                </form>
            </td>

        </tr>
    </table>
    <!-- 게시판 생성 폼 (기본적으로 숨겨져 있음) -->
    <form id="createBoardForm" th:action="@{/admin/board/create}" method="post" style="display: none;">
        <label for="bName">게시판 이름:</label><br/>
        <input type="text" id="bName" name="bName"/><br/>

        <label for="bPageNo">페이지 수:</label><br/>
        <input type="number" id="bPageNo" name="bPageNo"/><br/>

        <label for="bUnitNo">리스트별 게시글 개수:</label><br/>
        <input type="number" id="bUnitNo" name="bUnitNo"/><br/>

        <input type='hidden' name='bIsFile' value='false'>
        <label for='fileCheck'>파일 첨부 여부</label>
        <input type='checkbox' id='fileCheck' name='bIsFile' value='true'><br>

        <button type="submit">생성</button>
    </form>

</main>
</html>
<script>
    document.getElementById('createBoardButton').addEventListener('click', function () {
        var form = document.getElementById('createBoardForm');
        if (form.style.display === 'none') {
            form.style.display = 'block';
        } else {
            form.style.display = 'none';
        }
    });

    function handleFormSubmit() {
        var checkbox = document.getElementById('fileCheck');
        var hiddenInput = document.getElementById('bIsFile');

// Set the hidden input's value according to the checkbox state
        hiddenInput.value = checkbox.checked ? 'true' : 'false';

        return true; // Allow form submission
    }
</script>