<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <link th:href="@{../../static/css/styles.css}"
          href="../../static/css/styles.css" rel="stylesheet">

    <title>Title</title>
</head>
<body>
<!-- 네비게이션 바(헤더) -->
<nav th:replace="~{../outlines/nav :: navFragment}"></nav>

<main>

</main>

<!-- 푸터 -->
<footer th:replace="~{../outlines/footer :: footerFragment}"></footer>
</body>
</html>