<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<main layout:fragment="common">
<form th:action="@{/member/resetpw}" th:object="${signUpForm}" method="post" autocomplete="off">
    <div class="error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div></div>
    <div class="form-group">
        <label for="mPassword">PASSWORD: </label>
        <input type="password" id="mPassword" th:field="*{mPassword}" class="form-control"/>
        <span class="error" th:if="${#fields.hasErrors('mPassword')}" th:errors="*{mPassword}"></span>
    </div>
    <div class="form-group">
        <label for="mPasswordCheck">PASSWORD_CHECK: </label>
        <input type="text" id="mPasswordCheck" th:field="*{mPasswordCheck}" class="form-control"/>
        <span class="error" th:if="${#fields.hasErrors('mPasswordCheck')}" th:errors="*{mPasswordCheck}"></span>
    </div>
    <button type="submit">RESET PW</button>
</form>
</main>
</html>