<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
  <main layout:fragment="common">
    <h2>게시글 상세보기</h2>
    <div class="detail" th:object="${post}">
      <dl>
        <dt>제목 </dt>
        <dd th:text="*{pTitle}"></dd>
      </dl>
      <dl>
        <dt>내용 </dt>
        <dd th:text="*{pContent}"></dd>
      </dl>
      <dl>
        <dt>별명 </dt>
        <dd th:if="${post!=null}">
          <div class="nickname-div" th:switch="*{member.mLevel}">
            <span class="hbt"
                  th:text="*{member.mNickName}"
                  th:case="1"
                  th:style="'color: block;font-weight:bold;'">
            </span>
            <span class="hbt"
                  th:text="*{member.mNickName}"
                  th:style="'background-color: red; color: block; font-weight:bold;' "
                  th:case="2">
                            </span>
            <span class="hbt"
                  th:text="*{member.mNickName}"
                  th:style="'background-color: orange; font-weight:bold; color: block;'"
                  th:case="3">
                            </span>
            <span class="hbt"
                  th:text="*{member.mNickName}"
                  th:style="'background-color: yellow; font-weight:bold; color: block;'"
                  th:case="4">
                            </span>
            <span class="hbt"
                  th:text="*{member.mNickName}"
                  th:style="'background-color: green; color: white; font-weight:bold;'"
                  th:case="5">
                            </span>
            <span class="hbt"
                  th:text="*{member.mNickName}"
                  th:style="'background-color: blue; color: block; font-weight:bold;'"
                  th:case="6">
                            </span>
            <span class="hbt"
                  th:text="*{member.mNickName}"
                  th:style="'background-color: purple; color: block; font-weight:bold;'"
                  th:case="7">
                            </span>
            <span class="hbt"
                  th:text="*{member.mNickName}"
                  th:style="'background-color: silver; font-weight:bold; color: block;'"
                  th:case="8">
                            </span>
            <span class="hbt"
                  th:text="*{member.mNickName}"
                  th:style="'background-color: gold; font-weight:bold; color: block;'"
                  th:case="9">
                            </span>
            <span class="hbt"
                  th:text="*{member.mNickName}"
                  th:style="'background-color: aqua; font-weight:bold; color: block;'"
                  th:case="10">
                            </span>
          </div>
        </dd>
      </dl>
      <dl>
        <dt>조회수 </dt>
        <dd th:text="*{view}"></dd>
      </dl>
      <dl>
        <dt>작성일 </dt>
        <dd th:text="*{#temporals.format(createdAt, 'yyyy-MM-dd HH:mm:ss')}"></dd>
      </dl>
      <dl>
        <dt>수정일 </dt>
        <th:block th:if="*{updatedAt != null}">
          <dd th:text="${#temporals.format(post.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></dd>
        </th:block>
        <th:block th:unless="*{updatedAt != null}">
          <dd th:text> - </dd>
        </th:block>
      </dl>
    </div>
<!--    버튼-->
    <div class="btns">
      <th:block th:if="${writer != null}">
        <form th:action="@{'/post/' + ${post.pNo}}" method="post" onsubmit="return confirm('게시글 삭제를 진행하면 모든 내용과 댓글이 영구적으로 사라집니다. 계속 진행하시겠습니까??')">
          <input type="hidden" name="_method" value="delete"/>
          <button type="submit">게시글 삭제</button>
        </form>
        <a th:href="@{/post/{pNo}/edit(pNo=${post.pNo})}">게시글 수정</a>
      </th:block>
      <a href="javascript:location.href='/post/all'">게시글 목록</a>
    </div>

    <!--    댓글 목록-->
    <th:block  th:if="${commentList != null}">
      <ul class="comment-list" >
        <li th:each="comment,status : ${commentList}" th:object="${comment}">
          <div class="comment-block">
            <div class="nickname-div" th:switch="*{member.mLevel}">
            <span class="hbt"
                  th:text="*{member.mNickName}"
                  th:case="1"
                  th:style="'color: block;font-weight:bold;'">
            </span>
              <span class="hbt"
                    th:text="*{member.mNickName}"
                    th:style="'background-color: red; color: block; font-weight:bold;' "
                    th:case="2">
                            </span>
              <span class="hbt"
                    th:text="*{member.mNickName}"
                    th:style="'background-color: orange; font-weight:bold; color: block;'"
                    th:case="3">
                            </span>
              <span class="hbt"
                    th:text="*{member.mNickName}"
                    th:style="'background-color: yellow; font-weight:bold; color: block;'"
                    th:case="4">
                            </span>
              <span class="hbt"
                    th:text="*{member.mNickName}"
                    th:style="'background-color: green; color: white; font-weight:bold;'"
                    th:case="5">
                            </span>
              <span class="hbt"
                    th:text="*{member.mNickName}"
                    th:style="'background-color: blue; color: block; font-weight:bold;'"
                    th:case="6">
                            </span>
              <span class="hbt"
                    th:text="*{member.mNickName}"
                    th:style="'background-color: purple; color: block; font-weight:bold;'"
                    th:case="7">
                            </span>
              <span class="hbt"
                    th:text="*{member.mNickName}"
                    th:style="'background-color: silver; font-weight:bold; color: block;'"
                    th:case="8">
                            </span>
              <span class="hbt"
                    th:text="*{member.mNickName}"
                    th:style="'background-color: gold; font-weight:bold; color: block;'"
                    th:case="9">
                            </span>
              <span class="hbt"
                    th:text="*{member.mNickName}"
                    th:style="'background-color: aqua; font-weight:bold; color: block;'"
                    th:case="10">
                            </span>
            </div>
            <div th:text="*{cContent}"></div>
          </div>
          <div ckass="comment-delete">
            <form th:action="@{/comment/{cNo}/delete(cNo=${comment.cNo})}" method="post"
                  onsubmit="return confirm('댓글 삭제를 진행하시겠습니까?')">
              <input type="hidden" name="_method" value="delete"/>
              <button type="submit">[X]</button>
            </form>
          </div>
        </li>
      </ul>
    </th:block>

    <!--  댓글 작성-->
    <form class="comment-form" method="post" th:action="@{/post/detail/{pNo}(pNo=${pNo})}" autocomplete="off">
      <div class="comment-input">
        <div>
          <label for="comment-nickname">작성자 : </label>
          <input id="comment-nickname" type="text" name="nickname" th:value="${session.memberInfo.mNickName}" readonly/>
        </div>
        <div>
          <label for="comment-content">내용 : </label>
          <textarea id="comment-content" name="cContent" th:value="${commentDto.cContent}"
                    placeholder="400자 미만으로 작성해주세요."></textarea>
        </div>
      </div>
      <button type="submit">댓글 작성</button>
    </form>
  </main>
</html>