<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/ckeditor/main}">
<main layout:fragment="common">
    <div class="board_wrap">
        <div class="board_title">
            <!-- 여기에 게시글 수정 제목을 출력하도록 수정 -->
            <h2>글 수정</h2>
        </div>

        <!-- 게시글 수정 폼 -->
        <form method="POST" th:object="${post}">
            <!-- POST 요청을 사용하므로 _method 필드는 제거 -->
            <input type="hidden" name="_method" value="put"/>

            <div>
                <label for="pTitle">제목 : </label>
                <!-- 제목 입력 필드의 값은 post.pTitle로 설정 -->
                <input type="text" id="pTitle" name="pTitle" class="form-control" th:value="*{pTitle}" required />
            </div>

            <div>
                <label for="editor">내용 : </label>
                <!-- CKEditor 추가 -->
                <textarea id="editor" th:utext="true" name="pContent" required th:text="*{pContent}"></textarea>
            </div>

            <div class="bt_wrap">
                <form th:action="@{/post/{pNo}/edit(pNo=${post.pNo})}" method="post"
                      onsubmit="return confirm('게시글 수정을 진행하시겠습니까?')">
                    <input type="hidden" name="_method" value="put"/>
                    <button type="submit">수정</button>
                </form>
                <a href="/post/detail/{pNo}" th:href="@{/post/detail/{pNo}(pNo=${post.pNo})}">취소</a>
            </div>
        </form>

        <!-- CKEditor 에러 처리 메서드, 폼 제출 이벤트 리스너 삭제 -->
        <script th:inline="javascript">
            ClassicEditor
                .create(document.querySelector('#editor'))
                .then(editor => {
                    editor.setData([[${post.pContent}]]);
                })
                .catch(error => {
                    console.error(error);
                });
            ClassicEditor.editorConfig = function( config ) {
                config.autoParagraph = false;
            };
        </script>
    </div>
</main>
</html>
