<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<meta charset="utf-8">
<main layout:fragment="common">

    <h2>커뮤니티</h2>
    <ul class="board-list">
        <li class="list-text">
            <a th:href="@{/post/all}">전체 게시판</a>
        </li>
        <li class="list-text">
            <a th:href="@{/post/all/1}">자유 게시판</a>
        </li>
        <li class="list-text">
            <a th:href="@{/post/all/2}">EPL</a>
        </li>
        <li class="list-text">
            <a th:href="@{/post/all/3}">라리가</a>
        </li>
        <li class="list-text">
            <a th:href="@{/post/all/4}">분데스리가</a>
        </li>
    </ul>

    <!-- 검색 기능 -->
    <form style="display: inline-flex;" th:action="@{/post/all}" method="get">
        <!--    <form th:action="@{search}" method="get">-->
        <!-- Search Category -->
        <select name="sOpt">
            <option value="pTitle">제목</option>
            <option value="pContent">내용</option>
            <!-- Add more options as needed -->
        </select>
        <!-- Search Query -->
        <input type="text" name="sKey" placeholder="검색">
        <!-- Submit Button -->
        <button type="submit">검색</button>
    </form>

    <table class="table text-center">
        <thead>
        <tr>
            <th>No</th>
            <th>회원 ID</th>
            <th>별명</th>
            <th>게시판</th>
            <th>제목</th>
            <th>작성일</th>
            <th>수정일</th>
        </tr>
        </thead>
        <tbody>
        <!-- 게시판 내용 반복 -->
        <tr th:each="post,status : ${postList}">
            <td th:text="${status.index+1}"></td>
            <td th:text="${post.member.mId}"></td> <!-- 회원 ID 표시 -->
            <td th:text="${post.member.mNickName}"></td> <!-- 회원 별명 표시 -->
            <td th:text="${post.board.bName}"></td>
            <td><a th:href="@{/post/detail/{pNo}(pNo=${post.pNo})}" th:text="${post.pTitle}"></a></td>
            <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${#temporals.format(post.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        </tbody>
    </table>

    <!--페이징 처리-->
    <th:block th:if="${postList != null}">
        <ul class="pagination">
            <th:block class="myPostPg" th:each="item : ${#numbers.sequence(startPage, endPage)}" >
                <li th:if="${item > 0}" class='page' th:classappend="on">
                    <a th:if="${item != nowPage && item > 0}"
                       th:href="@{'/post/all/' + ${bNo} + '?page=' + ${item}}"
                       th:text="${item}">
                    </a>
                    <strong th:if="${item == nowPage}" th:text="${item}"></strong>
                </li>
            </th:block>
        </ul>
    </th:block>

    <!--게시글 작성-->
    <div class="btn-create">
        <a th:href="@{/post/create}">게시글 작성</a>
    </div>
</main>
</html>