<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title></title>
</head>
<body>
<form method="post" name="frmMyPage" autocomplete="off" th:object="${memberInfo}" >
    <div class="error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div></div>
    <div class="form-group">
        <label for="mPassword">PASSWORD: </label>
        <input type="password" id="mPassword" th:field="*{mPassword}" class="form-control"/>
        <span class="error" th:if="${#fields.hasErrors('mPassword')}" th:errors="*{mPassword}"></span>
    </div>
    <div>
        <button type="submit">CHECK PW</button>
    </div>
</form>
</body>
</html>