<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypage/main}">
<main layout:fragment="common">
    <div class="center-form">
        <h2 class="fw-bolder mb-1">회원 정보</h2>
    </div>
    <form class="margin"
          method="post" name="frmMyPage" th:object="${signUpForm}" autocomplete="off">
        <dl>
            <dt>ID : </dt>
            <dd>
                <input type="text" name="mId" th:value="*{mId}" readonly>
            </dd>
        </dl>

        <dl>
            <dt>NAME : </dt>
            <dd>
                <input type="text" name="mName" th:value="*{mName}" readonly>
            </dd>
        </dl>

        <dl>
            <dt>NICKNAME : </dt>
            <dd>
                <input type="text" name="mNickName" th:value="*{mNickName}" readonly>
            </dd>
        </dl>

        <dl>
            <dt>EMAIL : </dt>
            <dd>
                <input type="text" name="mEmail" th:value="*{mEmail}" readonly>
            </dd>
        </dl>

        <dl>
            <dt>GRADE : </dt>
            <dd>
                <input type="text" name="grade" th:value="*{grade}" readonly>
            </dd>
        </dl>

        <dl>
            <dt>LEVEL : </dt>
            <dd >
                <input type="text" name="level" th:value="*{level}" readonly>
            </dd>
        </dl>

        <dl>
            <dt>EURO(€) : </dt>
            <dd>
                <input type="text" name="euroValue" th:value="*{euroValue}" readonly>
            </dd>
        </dl>

        <dl>
            <dt>STACK(만 €) : </dt>
            <dd>
                <input type="text" name="mStack" th:value="*{mStack}" readonly>

            </dd>
        </dl>

        <dl>
            <dt>PASSWORD : </dt>
            <dd>
                <input style=" background-color: #dedede;" type="password" name="mPassword" th:value="*{mPassword}">
                <div class="error" th:each="err : ${#fields.errors('mPassword')}" th:text="${err}"></div>
            </dd>
        </dl>
        <dl>
            <dt>PASSWORD CHECK : </dt>
            <dd>
                <input style=" background-color: #dedede;" type="password" name="mPasswordCheck" th:value="*{mPasswordCheck}">
                <div class="error" th:each="err : ${#fields.errors('mPasswordCheck')}" th:text="${err}"></div>
            </dd>
        </dl>

        <dl>
            <dt>PHONE : </dt>
            <dd>
                <input style=" background-color: #dedede;" type="text" name="mPhone" th:value="*{mPhone}" >
                <div class="error" th:each="err : ${#fields.errors('mPhone')}" th:text="${err}"></div>
            </dd>
        </dl>
        <div class="btn">
            <button type="submit">수정하기</button>
            <a th:href="@{/member/mypage/deletepw/{mNo}(mNo = ${mNo})}">회원 탈퇴</a>
        </div>
    </form>
</main>
</html>