<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypage/main}">
<head>
    <meta charset="UTF-8">
    <link th:href="@{../../../static/css/styles.css}"
          href="../../../static/css/styles.css" rel="stylesheet">

    <title th:text="${}">Title</title>
</head>
<body>
<!-- 네비게이션 바(헤더) -->
<nav th:replace="~{../../outlines/nav :: common}"></nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="index.html" th:href="@{#}"><img class = "logo" src = "../static/image/Logo.png" th:src="@{이미지 경로}" />Shoot for Money</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="post.html" th:href="@{#}">커뮤니티</a></li>
                <li class="nav-item"><a class="nav-link" href="#!" th:href="@{#}">경기 결과</a></li>
                <li class="nav-item"><a class="nav-link" href="prediction.html" th:href="@{#}">승부 예측</a></li>
                <li class="nav-item"><a class="nav-link" href="#!" th:href="@{#}">로그인</a></li>
                <li class="nav-item"><a class="nav-link" href="#!" th:href="@{#}">마이페이지</a></li>
            </ul>
        </div>
    </div>
</nav>

<header class="center-form">
    <h2 class="fw-bolder mb-1">회원 정보</h2>
</header>
    <form class="margin" method="post" name="frmMyPage" th:object="${signUpForm}" autocomplete="off">
        <dl>
            <dt>ID : </dt>
            <dd>
                <input type="text" name="mId" th:value="*{mId}" readonly>
            </dd>
        </dl>

        <dl>
            <dt>NAME : </dt>
            <dd>
                <input type="text" name="mName" th:value="*{mName}" readonly>
            </dd>
        </dl>

        <dl>
            <dt>NICKNAME : </dt>
            <dd>
                <input type="text" name="mNickName" th:value="*{mNickName}" readonly>
            </dd>
        </dl>

        <dl>
            <dt>EMAIL : </dt>
            <dd>
                <input type="text" name="mEmail" th:value="*{mEmail}" readonly>
            </dd>
        </dl>

        <dl>
            <dt>GRADE : </dt>
            <dd>
                <input type="text" name="grade" th:value="*{grade}" readonly>
            </dd>
        </dl>

        <dl>
            <dt>LEVEL : </dt>
            <dd>
                <input type="text" name="level" th:value="*{level}" readonly>
            </dd>
        </dl>

        <dl>
            <dt>PASSWORD : </dt>
            <dd>
                <input style=" background-color: #dedede;" type="password" name="mPassword" th:value="*{mPassword}">
                <span class="error" th:each="err : ${#fields.errors('mPassword')}" th:text="${err}"></span>
            </dd>
        </dl>
        <dl>
            <dt>PASSWORD CHECK : </dt>
            <dd>
                <input style=" background-color: #dedede;" type="password" name="mPasswordCheck" th:value="*{mPasswordCheck}">
                <span class="error" th:each="err : ${#fields.errors('mPasswordCheck')}" th:text="${err}"></span>
            </dd>
        </dl>

        <dl>
            <dt>PHONE : </dt>
            <dd>
                <input style=" background-color: #dedede;" type="text" name="mPhone" th:value="*{mPhone}" >
                <span class="error" th:each="err : ${#fields.errors('mPhone')}" th:text="${err}"></span>
            </dd>
        </dl>
        <div>
            <button type="submit">수정하기</button>
            <a th:href="@{/member/mypage/deletepw/{mNo}(mNo = ${mNo})}">회원 탈퇴</a>
        </div>
    </form>
<div class="foot"></div>
<!-- 푸터 -->
<footer th:replace="~{../outlines/footer :: common}"></footer>
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">2023 Ait - Betting Site Prj</p>
    </div>
</footer>
</body>
</html>