<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<aside th:replace="~{member/mypage::mypage}"></aside>
<main layout:fragment="common">
<div class="frmMyBet">
    <form method="get" name="frmMyBet">
        <h1>배팅 이력</h1>
        <div>
            <table>
                <thead>
                <tr>
                    <th>배팅번호</th>
                    <th>게임정보</th>
                    <th>배팅금액</th>
                    <th>배팅결과</th>
                    <th>배팅시간</th>
                    <th>배팅율</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <th:block class="myBetPg" th:each="item : ${#numbers.sequence(startPage, endPage)}" >
                <li th:if="${item > 0}" class='page' th:classappend="on">
                    <a th:if="${item != nowPage}"
                       th:href="@{/member/mypage/mypost/{mNo}?page={page}(mNo=${mNo}, page=${item})}"
                       th:text="${item}">
                    </a>
                    <strong th:if="${item == nowPage}" th:text="${item}"></strong>
                </li>
            </th:block>
        </div>
    </form>
</div>
</main>
</html>