<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypage/main}">
<main layout:fragment="common">
    <div class="frmMyBet">
        <form method="get" name="frmMyBet">
            <h1>배팅 이력(경기 전)</h1>
            <div>
                <table>
                    <thead>
                    <tr>
                        <th>배팅번호</th>
                        <th>경기정보</th>
                        <th>예상결과</th>
                        <th>배팅금액(만)</th>
                        <th>배팅시간</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bet,status : ${betList}" th:object="${bet}">
                        <td class="list_num" th:text="${status.index+1}"></td>
                        <td class="list_subject">
                            <div>
                                <span th:text="*{game.GHomeTeam}"></span>
                                <strong> : </strong>
                                <span th:text="*{game.GAwayTeam}"></span>
                            </div>
                        </td>
                        <td class="list_text" th:text="*{expect}"></td>
                        <td class="list_num" th:text="*{btMoney}">__만</td>
                        <td class="list_num" th:text="*{#temporals.format(btTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td class="list_button">
                            <a th:href="@{/bet/cancelbet/{btNo}(btNo = ${bet.btNo})}">배팅 취소</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <ul class="pagination">
<!--                    <li class="page-prev" th:classappend="${hasPrev ? '' : 'disabled'}">-->
<!--                        <a th:href="@{/member/mypage/mybet/{mNo}?page={page}(mNo=${mNo}, page=${nowPage-1})}">-->
<!--                            <i class="xi-angle-left-min"></i>-->
<!--                        </a>-->
<!--                    </li>-->
                    <th:block class="myPostPg" th:each="item : ${#numbers.sequence(startPage, endPage)}" >
                        <li th:if="${item > 0}" class='page' th:classappend="on">
                            <a th:if="${item != nowPage && item > 0}"
                               th:href="@{/member/mypage/mybet/{mNo}?page={page}(mNo=${mNo}, page=${item})}"
                               th:text="${item}">
                            </a>
                            <strong th:if="${item == nowPage}" th:text="${item}"></strong>
                        </li>
                    </th:block>
<!--                    <li class="page-next" th:classappend="${hasNext ? '' : 'disabled'}">-->
<!--                        <a th:href="@{/member/mypage/mybet/{mNo}?page={page}(mNo=${mNo}, page=${nowPage+1})}">-->
<!--                            <i class="xi-angle-right-min"></i>-->
<!--                        </a>-->
<!--                    </li>-->
                </ul>
            </div>
        </form>
    </div>
</main>
</html>