<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypage/main}">
<main layout:fragment="common">
    <div class="frmMyBet">
        <div class="center-form">
            <h2 class="fw-bolder mb-1">배팅 이력</h2>
        </div>
        <form method="get" name="frmMyBet">
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>배팅시간</th>
                            <th>리그명</th>
                            <th colspan="3">홈팀 VS 어웨이팀</th>
                            <th colspan="3">배팅금액(만)</th>
                            <th>비고</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="bet,status : ${betList}" th:object="${bet}">
                            <td class="list_num" th:text="${status.index+1}"></td>
                            <td class="list_num" th:text="*{#temporals.format(btTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td class="list_text" th:text="*{game.GLeague}"></td>
                            <td class="list_text" th:text="*{game.GHomeTeam}"></td>
                            <td> VS </td>
                            <td class="list_text" th:text="*{game.GAwayTeam}"></td>
                            <td th:if="${bet.expect.toString().equals('WIN')}"
                                th:text="승 + ${bet.btMoney}"></td>
                            <td th:unless="${bet.expect.toString().equals('WIN')}"
                                th:text="'-'"></td>
                            <td th:if="${bet.expect.toString().equals('DRAW')}"
                                th:text="무 + ${bet.btMoney}">-</td>
                            <td th:unless="${bet.expect.toString().equals('DRAW')}"
                                th:text="'-'"></td>
                            <td th:if="${bet.expect.toString().equals('LOSE')}"
                                th:text="패 + ${bet.btMoney}">-</td>
                            <td th:unless="${bet.expect.toString().equals('LOSE')}"
                                th:text="'-'"></td>
                            <td th:if="*{endPaid.toString().equals('1')}"
                                th:text="'결과 배당률' + ' : ' +${bet.btRatio}"></td>
                            <td th:unless="*{endPaid.toString().equals('1')}" class="list_button">
                                <a th:href="@{/bet/cancelbet/confirm/{btNo}(btNo = ${bet.btNo})}">배팅 취소</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</main>
</html>