<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypage/main}">
<head>
    <meta charset="UTF-8">
    <link th:href="@{../../../static/css/styles.css}"
          href="../../../static/css/styles.css" rel="stylesheet">

    <title th:text="${}">Title</title>
</head>
<body>
<!-- 네비게이션 바(헤더) -->
<nav th:replace="~{../../outlines/nav :: common}"></nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="index.html" th:href="@{#}"><img class = "logo" src = "../static/image/Logo.png" th:src="@{이미지 경로}" />Shoot for Money</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="post.html" th:href="@{#}">커뮤니티</a></li>
                <li class="nav-item"><a class="nav-link" href="#!" th:href="@{#}">경기 결과</a></li>
                <li class="nav-item"><a class="nav-link" href="prediction.html" th:href="@{#}">승부 예측</a></li>
                <li class="nav-item"><a class="nav-link" href="#!" th:href="@{#}">로그인</a></li>
                <li class="nav-item"><a class="nav-link" href="#!" th:href="@{#}">마이페이지</a></li>
            </ul>
        </div>
    </div>
</nav>

<header class="center-form">
    <h2 class="fw-bolder mb-1">작성한 게시글</h2>
</header>

    <div class="frmMyPost">
        <form method="get" name="frmMyPost">
            <div>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>제목</th>
                            <th>작성일</th>
                            <th>조회수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="post,status : ${postList}" th:object="${post}">
                            <td class="list_num" th:text="${status.index+1  }"></td>
                            <td class="list_subject">
                                <a th:href="@{/posts/{pNo}(pNo = *{pNo})}">
                                    [[*{pTitle}]]
                                </a>
                            </td>
                            <td class="list_num" th:text="*{#temporals.format(createdAt,'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td class="list_num" th:text="*{view}"></td>
                        </tr>
                    </tbody>
                </table>
<!--                xi-angle-right-min-->
                <ul class="pagination">
                    <li class="page-prev" th:classappend="${hasPrev ? '' : 'disabled'}">
                        <a th:href="@{/member/mypage/mypost/{mNo}?page={page}(mNo=${mNo}, page=${nowPage-1})}">
                            <i class="xi-angle-left-min"></i>
                        </a>
                    </li>
                    <th:block class="myPostPg" th:each="item : ${#numbers.sequence(startPage, endPage)}" >
                        <li th:if="${item > 0}" class='page' th:classappend="on">
                            <a th:if="${item != nowPage && item > 0}"
                               th:href="@{/member/mypage/mypost/{mNo}?page={page}(mNo=${mNo}, page=${item})}"
                               th:text="${item}">
                            </a>
                            <strong th:if="${item == nowPage}" th:text="${item}"></strong>
                        </li>
                    </th:block>
                    <li class="page-next" th:classappend="${hasNext ? '' : 'disabled'}">
                        <a th:href="@{/member/mypage/mypost/{mNo}?page={page}(mNo=${mNo}, page=${nowPage+1})}">
                            <i class="xi-angle-right-min"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </form>
    </div>

<div class="foot"></div>
<!-- 푸터 -->
<footer th:replace="~{../outlines/footer :: common}"></footer>
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">2023 Ait - Betting Site Prj</p>
    </div>
</footer>
</body>
</html>