<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypage/main}">
<main layout:fragment="common">
    <div class="frmMyPost">
        <form method="get" name="frmMyPost">
            <h1>작성한 게시글</h1>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>제목</th>
                            <th>작성일</th>
                            <th>조회수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="post,status : ${postList}" th:object="${post}">
                            <td class="list_num" th:text="${status.index+1  }"></td>
                            <td class="list_subject">
                                <a th:href="@{/posts/{pNo}(pNo = *{pNo})}">
                                    [[*{pTitle}]]
                                </a>
                            </td>
                            <td class="list_num" th:text="*{#temporals.format(createdAt,'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td class="list_num" th:text="*{view}"></td>
                        </tr>
                    </tbody>
                </table>
<!--                xi-angle-right-min-->
                <ul class="pagination">
<!--                    <li class="page-prev" th:classappend="${hasPrev ? '' : 'disabled'}">-->
<!--                        <a th:href="@{/member/mypage/mypost/{mNo}?page={page}(mNo=${mNo}, page=${nowPage-1})}">-->
<!--                            <i class="xi-angle-left-min"></i>-->
<!--                        </a>-->
<!--                    </li>-->
                    <th:block class="myPostPg" th:each="item : ${#numbers.sequence(startPage, endPage)}" >
                        <li th:if="${item > 0}" class='page' th:classappend="on">
                            <a th:if="${item != nowPage && item > 0}"
                               th:href="@{/member/mypage/mypost/{mNo}?page={page}(mNo=${mNo}, page=${item})}"
                               th:text="${item}">
                            </a>
                            <strong th:if="${item == nowPage}" th:text="${item}"></strong>
                        </li>
                    </th:block>
<!--                    <li class="page-next" th:classappend="${hasNext ? '' : 'disabled'}">-->
<!--                        <a th:href="@{/member/mypage/mypost/{mNo}?page={page}(mNo=${mNo}, page=${nowPage+1})}">-->
<!--                            <i class="xi-angle-right-min"></i>-->
<!--                        </a>-->
<!--                    </li>-->
                </ul>
            </div>
        </form>
    </div>
</main>
</html>