<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>script</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <script th:if="${script != null}" th:utext="${script}"></script>
    <script th:if="${confirmUrl != null}">
        Swal.fire({
            title: '정말 탈퇴 하시겠습니까?',
            text: '',
            icon: 'warning',

            showCancelButton: true, // cancel 버튼 보이기. 기본은 원래 없음
            confirmButtonColor: '#78b6f3', // confirm 버튼 색깔 지정
            cancelButtonColor: '#cc33dd', // cancel 버튼 색깔 지정
            confirmButtonText: '확인 :(',
            cancelButtonText: '취소 :D',
        }).then(result => {
            if (result.isConfirmed) { // 만약 모달창에서 confirm 버튼을 눌렀다면
                Swal.fire('탈퇴 완료', '', 'success').then(function() {location.href='[[${confirmUrl}]]';});
            } else {
                Swal.fire('취소', '', 'success').then(function(){history.back();})
            }
        });
    </script>
</body>
</html>

