<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{../static/css/styles.css}"
        href="../static/css/styles.css" rel="stylesheet">
  <link th:href="@{../static/css/css.css}"
        href="../static/css/css.css" rel="stylesheet">

  <title>글 상세</title>

  <style>
    input {
      border: none;
    }
  </style>
</head>
  <body>
  <!-- 네비게이션 바 -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="index.html">Shoot for Money</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="post.html" th:href="@{#}">커뮤니티</a></li>
          <li class="nav-item"><a class="nav-link" href="#!" th:href="@{#}">경기 결과</a></li>
          <li class="nav-item"><a class="nav-link" href="prediction.html" th:href="@{#}">승부 예측</a></li>
          <li class="nav-item"><a class="nav-link" href="#!" th:href="@{#}">로그인</a></li>
          <li class="nav-item"><a class="nav-link" href="#!" th:href="@{#}">마이페이지</a></li>
        </ul>
      </div>
    </div>
  </nav>
    <div class="board_wrap">

      <div class="board_title">
        <h2 th:text="#{}">글 상세</h2>
      </div>

      <div class="board_view_wrap">
        <div class="board_view">

          <div class="title" th:text="${#}">
            <label for="boardSubject" th:text="#{}">제목 : </label>
            <input type="text" id="boardSubject" name="boardSubject" class="form-control" value="제목" th:value="${}" readonly>
          </div>

          <div class="info">
            <dl>
              <dt>
                <label for="boardId" th:text="#{}">글 ID : </label>
              </dt>
              <dd>
                <input type="text" id="boardId" name="boardId" class="form-control" value="1" th:value="${}" readonly>
              </dd>
            </dl>
            <dl>
              <dt>
                <label for="name" th:text="#{}">작성자 : </label>
              </dt>
              <dd>
                <input type="text" id="name" name="name" class="form-control" value="작성자" th:value="${}" readonly>
              </dd>
            </dl>
            <dl>
              <dt>
                <label for="regdate" th:text="#{}">등록일</label>
              </dt>
              <dd>
                <input type="text" id="regdate" name="regdate" class="form-control" value="10" th:value="${}" readonly>
              </dd>
            </dl>
            <dl>
              <dt>
                <label for="viewcnt" th:text="#{}">조회수 : </label>
              </dt>
              <dd>
                <input type="text" id="viewcnt" name="viewcnt" class="form-control" value="10" th:value="${}" readonly>
              </dd>
            </dl>
          </div>

          <!-- 가능하면 라벨 숨기기 -->
          <div class="cont">
            <label for="contents" th:text="#{}"></label>
            <input type="text" id="contents" name="contents" class="form-control" value="글내용" th:value="${}" readonly>
          </div>

          <!-- 댓글 -->
          <section class="mb-5">
            <div class="card bg-light">
              <div class="card-body">
                <!-- 댓글 폼-->
                <form class="mb-4" th:action="@{#}" method="post">
                  <textarea class="form-control" rows="3" placeholder="댓글을 입력하세요" th:field="${comment.text}"></textarea>
                  <div class="bt_wrap">
                    <a href="post.html" th:href="@{#}" th:text="${}">댓글 작성</a>
                  </div>
                </form>

                <!-- 댓글 -->
                  <div class="d-flex mb-4" th:each="comment : ${comments}">
                    <!-- 댓글 임시로 넣어둠 -->
                    <div class="flex-shrink-0"><img class="rounded-circle" src="#" alt="" th:src="${comment.author.levelIcon}" /></div>
                    <div class="ms-3">
                      <div class="fw-bold" th:text="${comment.author.nickname}">닉네임1</div>
                      <p th:text="${comment.text}">댓글 12345</p>

                    <!-- 답글 임시로 넣어둠 -->
                      <div class="d-flex mt-4" th:each="reply : ${replies}">
                        <div class="flex-shrink-0">
                          <img class="rounded-circle" src="#" alt="" th:src="${reply.author.levelIcon}" />
                        </div>
                        <div class="ms-3">
                          <div class="fw-bold" th:text="${reply.author.nickname}">닉네임2</div>
                          <p th:text="${reply.text}">답글 12345</p>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <hr class="my-4">

          <div class="bt_wrap">
            <a href="post.html" th:href="@{#}" th:text="${}">글 목록</a>
            <a href="updateForm.html" th:href="@{#}" th:text="${}">글 수정</a>
            <a th:href="@{#}" th:text="${}">글 삭제</a>
          </div>
        </div>
      </div>
    </div>

  <!-- 푸터 -->
  <!--<footer th:replace="~{footer :: footerFragment}"></footer>-->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">2023 Ait - Betting Site Prj</p>
    </div>
  </footer>


  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
  </body>
</html>