<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link th:href="@{../../static/css/styles.css}"
          href="../static/css/styles.css" rel="stylesheet">

    <title>Title</title>
</head>
<body>
<!-- 네비게이션 바(헤더) -->
<nav th:replace="~{outlines/nav :: common}"></nav>

<main>
    <div class="banner">
        <div class="slides">
            <div class="slide active"><img src="../static/image/banner1.png" th:src="@{../static/image/banner1.png}" alt="banner1"></div>
            <div class="slide"><img src="../static/image/banner2.png" th:src="@{../static/image/banner2.png}" alt="banner2"></div>
            <div class="slide"><img src="../static/image/banner3.png" th:src="@{../static/image/banner3.png}" alt="banner3"></div>
        </div>

<!--         이전/다음 버튼-->
        <button id="prevSlide">‹</button>
        <button id="nextSlide">›</button>

        <ul id="indicators"></ul>
    </div>

    <div class = "scroll2">
        <table class = "recentgame">
            <thead>
                <tr>
                    <th>경기번호</th>
                    <th>경기일시</th>
                    <th>대회</th>
                    <th>홈팀</th>
                    <th>원정팀</th>
                    <th>배당률</th>
                    <th>배팅</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="game, stat : ${allGames}" th:if="${stat.count <= 10}">
                    <td th:text="${game.gNo}"></td>
                    <td th:text="${game.gStartTime}"></td>
                    <td th:text="${game.gLeague}"></td>
                    <td th:text="${game.gHomeTeam}"></td>
                    <td th:text="${game.gAwayTeam}"></td>
                    <td>
                        <div class="formBox">
                            <th:block th:with="ratioList=${ratios[__${game.getMatchId()}__]}">
                                <div class="btnChkBox v2">
                                    <button type="button" class="betBtn">
                                        <span>승</span><br/><span class="db" th:text="${ratioList[0]}"></span>
                                    </button>
                                    <button type="button" class="betBtn">
                                        <span>무</span><br/><span class="db" th:text="${ratioList[1]}"></span>
                                    </button>
                                    <button type="button" class="betBtn">
                                        <span>패</span><br/><span class="db" th:text="${ratioList[2]}"></span>
                                    </button>
                                </div>
                            </th:block>
                        </div>
                    </td>
                    <td>
                        <a th:href="@{/list/__${game.getMatchId()}__}">
                            <button type="button" class="betBtn">배팅</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class = "scroll">
        <table class="ranking">
            <thead>
                <tr>
                    <th>랭킹</th>
                    <th>레벨</th>
                    <th>닉네임</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="r,status : ${rank}" th:object="${r}">
                    <td class="list_text" th:if="${r != null}" th:value="${status.index+1}"></td>
                    <td class="list_text" th:if="${r != null}" th:value="*{mLevel}"></td>
                    <td class="list_text" th:if="${r != null}" th:value="*{mNickName}"> </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="foot"></div>
</main>
<!-- 푸터 -->
<footer th:replace="~{outlines/footer :: common}"></footer>


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>


<script>
    let slideIndex = 0;

    function showSlide(index) {
        const slides = document.querySelectorAll('.slide');

        // 모든 슬라이드 숨김
        slides.forEach((slide) => slide.style.display = 'none');

        // 현재 인덱스의 슬라이드만 표시
        slides[index].style.display = 'block';

        const indicators = document.getElementById('indicators');

        while (indicators.firstChild) indicators.removeChild(indicators.firstChild);

        slides.forEach((_, i) => {
            const li = document.createElement('li');

            if (i === index) li.style.backgroundColor = 'black';

            indicators.appendChild(li);
        });
    }

    document.getElementById('prevSlide').addEventListener('click', () => {
        slideIndex--;

        if(slideIndex < 0){
            slideIndex = document.querySelectorAll('.slide').length - 1;
        }

        showSlide(slideIndex);
    });

    document.getElementById('nextSlide').addEventListener('click', () => {
        slideIndex++;

        if(slideIndex === document.querySelectorAll('.slide').length){
            slideIndex = 0;
        }

        showSlide(slideIndex);
    });

    setInterval(() => {
        slideIndex++;

        if(slideIndex === document.querySelectorAll('.slide').length){
            slideIndex = 0;
        }

        showSlide(slideIndex);
    },4000);

    window.onload = () => showSlide(0);
</script>
</body>
</html>
