<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">
<main layout:fragment="common">
    <div class = "banner">
        <img src="" alt="banner img">
    </div>
    <div class = "scroll2">
        <table class = "recentgame">
            <thead>
                <tr>
                    <th>경기번호</th>
                    <th>경기일시</th>
                    <th>대회</th>
                    <th>홈팀</th>
                    <th>원정팀</th>
                    <th>배당률 선택</th>
                </tr>
            </thead>
<!--            <tbody>-->
<!--                <tr th:each="# : ${#}">-->
<!--                    <td th:text="${}">17</td>-->
<!--                    <td th:text="${}">09.18(월) 23:00시</td>-->
<!--                    <td th:text="${}">BundesLiga</td>-->
<!--                    <td th:text="${}">바이에른</td>-->
<!--                    <td th:text="${}">아우크스부르크</td>-->
<!--                    <td>-->
<!--                        <div class="formBox">-->
<!--                            <div class="btnChkBox v2" th:each=" : ${}">-->
<!--                                <button type="button" class="betBtn" th:title="${}" th:data-selkey="${}">-->
<!--                                    <span th:text="${}">승</span><br/><span class="db" th:text="${}">2.50</span>-->
<!--                                </button>-->
<!--                                <button type="button" class="betBtn" title="" data-selkey="2">-->
<!--                                    <span th:text="${}">무</span><br/><span class="db" th:text="${}">3.20</span>-->
<!--                                </button>-->
<!--                                <button type="button" class="betBtn" title="" data-selkey="3">-->
<!--                                    <span th:text="${}">패</span><br/><span class="db" th:text="${}">2.36</span>-->
<!--                                </button>-->

<!--                                &lt;!&ndash; 위에꺼 안되면 이거 &ndash;&gt;-->
<!--&lt;!&ndash;                                <form method="post" th:action="@{/betting}">&ndash;&gt;-->
<!--&lt;!&ndash;                                    &lt;!&ndash; Include match id and option title as hidden fields in the form &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                    <input type="hidden" name="matchId" th:value="${match.id}" />&ndash;&gt;-->
<!--&lt;!&ndash;                                    <input type="hidden" name="optionTitle" th:value="${option.title}" />&ndash;&gt;-->

<!--&lt;!&ndash;                                    &lt;!&ndash; The button submits the form when clicked &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                    <button type="submit">&ndash;&gt;-->
<!--&lt;!&ndash;                                        &lt;!&ndash; Set button text using BetOption properties &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                        <span th:text="${option.title}"></span><span><br/><span th:text="${option.odds}"/></span>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </button>&ndash;&gt;-->
<!--&lt;!&ndash;                                </form>&ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </tbody>-->
        </table>
    </div>

    <div class = "scroll">
        <table class="ranking">
            <thead>
                <tr>
                    <th>랭킹</th>
                    <th>레벨</th>
                    <th>닉네임</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="r,status : ${rank}" th:object="${r}">
                    <td class="list_text" th:if="${r != null}" th:value="${status.index+1}"></td>
                    <td class="list_text" th:if="${r != null}" th:value="*{mLevel}"></td>
                    <td class="lsit_text" th:if="${r != null}" th:value="*{mNickName}"> </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
</html>