<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <link th:href="@{../static/css/styles.css}"
          href="../static/css/styles.css" rel="stylesheet">
    <link th:href="@{../static/css/css.css}"
          href="../static/css/css.css" rel="stylesheet">
    <title>게시판 리스트</title>
</head>
<body>

<!-- 네비게이션 바 -->
<div id="nav-load" th:insert="outlines/nav :: navFragment"></div>
<!-- 네비게이션 바 임시 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#!"><img class = "logo" src = "../static/image/Logo.png" th:src="@{이미지 경로}" />Shoot for Money</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="post.html" th:href="@{#}">커뮤니티</a></li>
                <li class="nav-item"><a class="nav-link" href="#!" th:href="@{#}">경기 결과</a></li>
                <li class="nav-item"><a class="nav-link" href="prediction.html" th:href="@{#}">승부 예측</a></li>
                <li class="nav-item"><a class="nav-link" href="#!" th:href="@{#}">로그인</a></li>
                <li class="nav-item"><a class="nav-link" href="#!" th:href="@{#}">마이페이지</a></li>
            </ul>
        </div>
    </div>
</nav>
        <!-- 게시판 내용 반복 -->
        <tr th:each="post : ${posts}">
            <td th:text="${post.pNo}"></td>
            <td th:text="${post.member.mId}"></td>
            <td th:text="${post.member.mNickName}"></td>
            <td th:text="${post.board.bName}"></td>
            <td><a th:href="@{'/post/' + ${post.pNo}}" th:text="${post.pTitle}"></a></td>
            <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${#temporals.format(post.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>

            <!-- 게시글 삭제 -->
            <td>
                <form th:action="@{'/post/' + ${post.pNo}}" method="post" onsubmit="return confirm('게시글 삭제를 진행하면 모든 내용과 댓글이 영구적으로 사라집니다. 계속 진행하시겠습니까??')">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit">게시글 삭제</button>
                </form>
            </td>

        </tr>
    </table>

    <!-- 게시글 조회 -->
    <form th:action="@{/post/postList/search}" method="get">
        <!-- Search Category -->
        <select name="category">
            <option value="pNo">게시글 번호</option>
            <option value="mId">작성자 ID</option>
            <option value="mNickName">작성자 별명</option>
            <option value="bName">게시판</option>
            <option value="pTitle">제목</option>
        </select>

        <input type="text" name="query" placeholder="검색">

        <button type="submit">검색</button>
        <a th:href="@{/post/postList/all}">전체보기</a>
    </form>

    <div class="pagination">
        <ul>
            <!-- showPrev가 true일 때 '이전' 링크를 보여줍니다 -->
            <li th:if="${pageHandler.showPrev}">
                <a th:href="@{'/post/postList/all?page=' + ${pageHandler.beginPage - 1}}">이전</a>
            </li>

            <!-- 페이지 번호들을 보여줍니다 -->
            <li th:each="pageNum : ${#numbers.sequence(pageHandler.beginPage, pageHandler.endPage)}">
                <a th:href="@{'/admin/post/postList/all?page=' + ${pageNum}}"
                   th:text="${pageNum}"
                   th:class="${pageNum == pageHandler.page ? 'active' : ''}"></a>
            </li>

            <!-- showNext가 true일 때 '다음' 링크를 보여줍니다 -->
            <li th:if="${pageHandler.showNext}">
                <a th:href="@{'/post/postList/all?page=' + ${pageHandler.endPage + 1}}">다음</a>
            </li>
        </ul>
    </div>
</main>

</html>