<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<meta charset="utf-8">
<main layout:fragment="common">

    <h2>게시판 조회</h2>
    <form th:action="@{/posts/posts/all}" method="get">
        <select name="bNo">
            <option value="">All Boards</option>
            <th:block th:each="board : ${boards}">
                <option th:value="${board.bNo}" th:text="${board.bName}"></option>
            </th:block>
        </select>
    </form>

    <button th:href="@{/posts/create}">게시글 작성</button>

    <table class="table text-center">

        <thead>
        <tr>
            <th>게시글 번호</th>
            <th>회원 ID</th>
            <th>별명</th>
            <th>게시판</th>
            <th>제목</th>
            <th>작성일</th>
            <th>수정일</th>
        </tr>
        </thead>

        <!-- 게시판 내용 반복 -->
        <tr th:each="post : ${posts}">
            <td th:text="${post.pNo}"></td>
            <td th:text="${post.mId}"></td> <!-- 회원 ID 표시 -->
            <td th:text="${post.mNickName}"></td> <!-- 회원 별명 표시 -->
            <td th:text="${post.board.bName}"></td>
            <td><a th:href="@{/posts/detail/{pNo}(pNo=${post.pNo})}" th:text="${post.pTitle}"></a></td>
            <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${#temporals.format(post.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>

    </table>

</main>
</html>