<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <link th:href="@{../static/css/styles.css}"
          href="../static/css/styles.css" rel="stylesheet">
    <link th:href="@{../static/css/css.css}"
          href="../static/css/css.css" rel="stylesheet">
    <title>게시판 리스트</title>
</head>
<body>

<!-- 네비게이션 바 -->
<div id="nav-load" th:insert="outlines/nav :: navFragment"></div>
<!-- 네비게이션 바 임시 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#!"><img class = "logo" src = "../static/image/Logo.png" th:src="@{이미지 경로}" />Shoot for Money</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="post.html" th:href="@{#}">커뮤니티</a></li>
                <li class="nav-item"><a class="nav-link" href="#!" th:href="@{#}">경기 결과</a></li>
                <li class="nav-item"><a class="nav-link" href="prediction.html" th:href="@{#}">승부 예측</a></li>
                <li class="nav-item"><a class="nav-link" href="#!" th:href="@{#}">로그인</a></li>
                <li class="nav-item"><a class="nav-link" href="#!" th:href="@{#}">마이페이지</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- 게시판 -->
<div class="board_wrap">
    <div class="board_title">
        <h2 th:text="#{}">게시판 이름</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="custom-btn btn-6">
                <a href="#" th:href="@{#}" th:text="${}"><span>게시판 이름</span></a>
            </button>
            <button class="custom-btn btn-6">
                <a href="#" th:href="@{#}" th:text="${}"><span>게시판 이름</span></a>
            </button>
            <button class="custom-btn btn-6">
                <a href="#" th:href="@{#}" th:text="${}"><span>게시판 이름</span></a>
            </button>

            <!--/* 검색 */-->
            <div class="search_box">
                <form id="searchForm" th:action="@{/search}" method="get" autocomplete="off">
                    <div class="sch_group fl">
                        <select id="searchType" name="searchType" title="검색 유형 선택">
                            <option value="">전체 검색</option>
                            <option value="title">제목</option>
                            <option value="content">내용</option>
                            <option value="writer">작성자</option>
                        </select>
                        <!-- Keyword input field with th:field -->
                        <input type="text" id ="keyword" name = "keyword"
                               placeholder = "키워드를 입력해 주세요."
                               title = "키워드 입력"
                               th:value="${#}"/>

                        <!-- Submit button -->
                        <button type = "submit" class = "bt_search"><i class ="fas fa-search"></i><span class ="skip_info">검색</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="board_list_wrap">
        <div class="board_list">
            <div class="top">
                <div class="ID"  th:text="#{}">글 ID</div>
                <div class="title" th:text="#{}">제목</div>
                <div class="writer" th:text="#{}">작성자</div>
                <div class="date" th:text="#{}">등록일</div>
                <div class="count" th:text="#{}">조회수</div>
            </div>
            <div th:each="board : ${}">
                <div class="ID"><a href="detail.html" th:href="@{#}" th:text="${}">글 ID</a></div>
                <div class="title"><a href="#" th:href="@{#}" th:text="${}">제목</a></div>
                <div class="writer" th:text="${}">작성자</div>
                <div class="date" th:text="${}">등록일</div>
                <div class="count" th:text="${}">조회수</div>
            </div>
        </div>
        <!-- 페이징 처리 전 임시용 -->
        <div class="board_page">
            <a href="#" class="bt first" th:href="@{#}"><<</a>
            <a href="#" class="bt prev" th:href="@{#}"><</a>
            <a href="#" class="num on" th:href="@{#}">1</a>
            <a href="#" class="num" th:href="@{#}">2</a>
            <a href="#" class="num" th:href="@{#}">3</a>
            <a href="#" class="num" th:href="@{#}">4</a>
            <a href="#" class="num" th:href="@{#}">5</a>
            <a href="#" class="bt next" th:href="@{#}">></a>
            <a href="#" class="bt last" th:href="@{#}">>></a>
        </div>
        <div class="bt_wrap">
            <a href="addForm.html" th:href="@{#}" th:text="${}">글 작성</a>
        </div>
    </div>
</div>

<!-- 푸터 -->
<!--<footer th:replace="~{footer :: footerFragment}"></footer>-->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">2023 Ait - Betting Site Prj</p>
    </div>
</footer>


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

</body>
</html>