<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <link th:href="@{../static/css/css.css}"
          href="../static/css/css.css" rel="stylesheet">
    <title>게시판 리스트</title>
</head>
<body>

<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="board_wrap">
    <div class="board_title">
        <h2 th:text="#{}">게시판 이름</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn1">
                <a href="#" th:href="@{#}" th:text="${}">게시판 이름</a>
            </button>
            <button class="btn1">
                <a href="#" th:href="@{#}" th:text="${}">게시판 이름</a>
            </button>
            <button class="btn1">
                <a href="#" th:href="@{#}" th:text="${}">게시판 이름</a>
            </button>
        </div>
    </div>

    <div class="board_list_wrap">
        <div class="board_list">
            <div class="top">
                <div class="ID"  th:text="#{}">글 ID</div>
                <div class="title" th:text="#{}">제목</div>
                <div class="writer" th:text="#{}">작성자</div>
                <div class="date" th:text="#{}">등록일</div>
                <div class="count" th:text="#{}">조회수</div>
            </div>
            <div th:each="board : ${}">
                <div class="ID"><a href="detail.html" th:href="@{#}" th:text="${}">글 ID</a></div>
                <div class="title"><a href="#" th:href="@{#}" th:text="${}">제목</a></div>
                <div class="writer" th:text="${}">작성자</div>
                <div class="date" th:text="${}">등록일</div>
                <div class="count" th:text="${}">조회수</div>
            </div>
        </div>
        <!-- 페이징 처리 전 임시용 -->
        <div class="board_page">
            <a href="#" class="bt first" th:href="@{#}"><<</a>
            <a href="#" class="bt prev" th:href="@{#}"><</a>
            <a href="#" class="num on" th:href="@{#}">1</a>
            <a href="#" class="num" th:href="@{#}">2</a>
            <a href="#" class="num" th:href="@{#}">3</a>
            <a href="#" class="num" th:href="@{#}">4</a>
            <a href="#" class="num" th:href="@{#}">5</a>
            <a href="#" class="bt next" th:href="@{#}">></a>
            <a href="#" class="bt last" th:href="@{#}">>></a>
        </div>
        <div class="bt_wrap">
            <a href="addForm.html" th:href="@{#}" th:text="${}">글 작성</a>
        </div>
    </div>
</div>

<footer th:replace="~{footer :: footerFragment}"></footer>

</body>
</html>