<!DOCTYPE html>
<meta charset="utf-8">
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
  <title>리스트 페이지</title>
</th:block>

<th:block layout:fragment="content">
  <div class="page_tits">
    <h3>게시판 관리</h3>
    <p class="path"><strong>현재 위치 :</strong> <span>게시판 관리</span> <span>리스트형</span> <span>리스트</span></p>
  </div>

  <div class="content">
    <section>
      <!--/* 검색 */-->
      <div class="search_box">
        <form id="searchForm" onsubmit="return false;" autocomplete="off">
          <div class="sch_group fl">
            <select id="searchType" name="searchType" title="검색 유형 선택">
              <option value="">전체 검색</option>
              <option value="title">제목</option>
              <option value="content">내용</option>
              <option value="writer">작성자</option>
            </select>
            <input type="text" id="keyword" name="keyword" placeholder="키워드를 입력해 주세요." title="키워드 입력" />
            <button type="button" class="bt_search" onclick="movePage(1);"><i class="fas fa-search"></i><span class="skip_info">검색</span></button>
          </div>
        </form>
      </div>

      <!--/* 리스트 */-->
      <table class="tb tb_col">
        <colgroup>
          <col style="width:50px;"/><col style="width:7.5%;"/><col style="width:auto;"/><col style="width:10%;"/><col style="width:15%;"/><col style="width:7.5%;"/>
        </colgroup>
        <thead>
        <tr>
          <th scope="col"><input type="checkbox"/></th>
          <th scope="col">번호</th>
          <th scope="col">제목</th>
          <th scope="col">작성자</th>
          <th scope="col">등록일</th>
          <th scope="col">조회</th>
        </tr>
        </thead>

        <!--/* 리스트 데이터 렌더링 영역 */-->
        <tbody id="list">

        </tbody>
      </table>

      <!--/* 페이지네이션 렌더링 영역 */-->
      <div class="paging">

      </div>

      <!--/* 버튼 */-->
      <p class="btn_set tr">
        <a th:href="@{/post/write.do}" class="btns btn_st3 btn_mid">글쓰기</a>
      </p>
    </section>
  </div> <!--/* .content */-->
</th:block>


<th:block layout:fragment="script">
  <script th:inline="javascript">

  </script>
</th:block>
</html>