<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="common">
        <div class="container">
            <a class="navbar-brand" href="index.html" th:href="@{/}"><img class = "logo" src="https://raw.githubusercontent.com/hyensukim/SpringBootTeamproject/final_temp/image/Logo1.png"/>Shoot for Money</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="post.html" th:href="@{/post/all}">커뮤니티</a></li>
                    <li class="nav-item"><a class="nav-link" href="finished.html" th:href="@{/list/finished/entirelist}">경기 결과</a></li>
                    <li class="nav-item"><a class="nav-link" href="prediction.html" th:href="@{/list/unstarted/entirelist}">승부 예측</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
</html>
