<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->

<!--    <meta charset="utf-8">-->
<!--    <link th:href="@{../../static/css/styles.css}"-->
<!--          href="../../static/css/styles.css" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="common">
        <div class="container">
            <a class="navbar-brand" href="#!">Shoot for Money</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#">커뮤니티</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">경기 결과</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">승부 예측</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/member/login}">로그인</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/member/mypage/checkpw}">마이페이지</a></li>
                </ul>
            </div>
        </div>
    </nav>

<!--    &lt;!&ndash; Bootstrap core JS&ndash;&gt;-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>-->
<!--    &lt;!&ndash; Core theme JS&ndash;&gt;-->
<!--    <script src="js/scripts.js"></script>-->
<!--</body>-->
</html>